<p><font size="6"><b>03 - Pandas: Indexing and selecting data</b></font></p>


> *DS Data manipulation, analysis and visualisation in Python*  
> *December, 2017*

> *Â© 2016, Joris Van den Bossche and Stijn Van Hoey  (<mailto:jorisvandenbossche@gmail.com>, <mailto:stijnvanhoey@gmail.com>). Licensed under [CC BY 4.0 Creative Commons](http://creativecommons.org/licenses/by/4.0/)*

---

In [1]:
import pandas as pd

In [2]:
# redefining the example objects

# series
population = pd.Series({'Germany': 81.3, 'Belgium': 11.3, 'France': 64.3, 
                        'United Kingdom': 64.9, 'Netherlands': 16.9})

# dataframe
data = {'country': ['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'],
        'population': [11.3, 64.3, 81.3, 16.9, 64.9],
        'area': [30510, 671308, 357050, 41526, 244820],
        'capital': ['Brussels', 'Paris', 'Berlin', 'Amsterdam', 'London']}
countries = pd.DataFrame(data)
countries

     area    capital         country  population
0   30510   Brussels         Belgium        11.3
1  671308      Paris          France        64.3
2  357050     Berlin         Germany        81.3
3   41526  Amsterdam     Netherlands        16.9
4  244820     London  United Kingdom        64.9

Setting the index to the country names:

In [3]:
countries = countries.set_index('country')
countries

                  area    capital  population
country
Belgium          30510   Brussels        11.3
France          671308      Paris        64.3
Germany         357050     Berlin        81.3
Netherlands      41526  Amsterdam        16.9
United Kingdom  244820     London        64.9

# Selecting data

<div class="alert alert-warning" style="font-size:120%">
<b>ATTENTION!</b>: <br><br>

One of pandas' basic features is the labeling of rows and columns, but this makes indexing also a bit more complex compared to numpy. <br><br> We now have to distuinguish between:

 <ul>
  <li>selection by **label** (using the row and column names)</li>
  <li>selection by **position** (using integers)</li>
</ul>
</div>

## `data[]` provides some convenience shortcuts

For a DataFrame, basic indexing selects the columns (cfr. the dictionaries of pure python)

Selecting a **single column**:

In [4]:
countries['area'] # single []

country
Belgium            30510
France            671308
Germany           357050
Netherlands        41526
United Kingdom    244820
Name: area, dtype: int64

or multiple **columns**:

In [5]:
countries[['area', 'population']] # double [[]]

                  area  population
country
Belgium          30510        11.3
France          671308        64.3
Germany         357050        81.3
Netherlands      41526        16.9
United Kingdom  244820        64.9

But, slicing or boolean indexing accesses the **rows**:

In [6]:
countries['France':'Netherlands']

               area    capital  population
country
France       671308      Paris        64.3
Germany      357050     Berlin        81.3
Netherlands   41526  Amsterdam        16.9

In [ ]:
countries[countries['population'] > 50]

<div class="alert alert-danger">
<b>NOTE</b>:

 <ul>
  <li>Unlike slicing in numpy, the end label is **included**!</li>
</ul>
</div>

<div class="alert alert-info" style="font-size:120%">
<b>REMEMBER</b>: <br><br>

So as a summary, `[]` provides the following convenience shortcuts:

<ul>
  <li>**Series**: selecting a **label**: `s[label]`</li>
  <li>**DataFrame**: selecting a single or multiple **columns**: `df['col']` or `df[['col1', 'col2']]`</li>
  <li>**DataFrame**: slicing or filtering the **rows**: `df['row_label1':'row_label2']` or `df[mask]`</li>
</ul>
</div>

## Systematic indexing with `loc` and `iloc`

When using `[]` like above, you can only select from one axis at once (rows or columns, not both). For more advanced indexing, you have some extra attributes:
    
* `loc`: selection by label
* `iloc`: selection by position

Both `loc` and `iloc` use the following pattern: `df.loc[ <selection of the rows> , <selection of the columns> ]`.

This 'selection of the rows / columns' can be: a single label, a list of labels, a slice or a boolean mask.

Selecting a single element:

In [ ]:
countries.loc['Germany', 'area']

But the row or column indexer can also be a list, slice, boolean array (see next section), ..

In [ ]:
countries.loc['France':'Germany', ['area', 'population']]

---
Selecting by position with `iloc` works similar as **indexing numpy arrays**:

In [ ]:
countries.iloc[0:2,1:3]

The different indexing methods can also be used to **assign data**:

In [ ]:
countries2 = countries.copy()
countries2.loc['Belgium':'Germany', 'population'] = 10

In [ ]:
countries2

<div class="alert alert-info" style="font-size:120%">
<b>REMEMBER</b>: <br><br>

Advanced indexing with **loc** and **iloc**

 <ul>
  <li>**loc**: select by label: `df.loc[row_indexer, column_indexer]`</li>
  <li>**iloc**: select by position: `df.iloc[row_indexer, column_indexer]`</li>
</ul>
</div>

## Boolean indexing (filtering)

Often, you want to select rows based on a certain condition. This can be done with 'boolean indexing' (like a where clause in SQL) and comparable to numpy. 

The indexer (or boolean mask) should be 1-dimensional and the same length as the thing being indexed.

In [ ]:
countries['area'] > 100000

In [ ]:
countries[countries['area'] > 100000]

In [8]:
countries["population_density"] = countries['population']/countries['area'] * 1e6
countries["population_density"]

country
Belgium           370.370370
France             95.783158
Germany           227.699202
Netherlands       406.973944
United Kingdom    265.092721
Name: population_density, dtype: float64

<div class="alert alert-success">
<b>EXERCISE</b>:

<p>
<ul>
    <li>Add the population density as column to the DataFrame.</li>
</ul>
</p>
Note: the population column is expressed in millions.
</div>

In [ ]:
# %load _solutions/pandas_03_selecting_data15.py
#countries['density'] = countries['population']*1000000 / countries['area']

<div class="alert alert-success">
<b>EXERCISE</b>:

 <ul>
  <li>Select the capital and the population column of those countries where the density is larger than 300</li>
</ul>
</div>

In [28]:
#countries
countries.loc[countries['population_density'] > 300, ['capital', 'population']]

               capital  population
country
Belgium       Brussels        11.3
Netherlands  Amsterdam        16.9

In [15]:
# %load _solutions/pandas_03_selecting_data16.py

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>Add a column 'density_ratio' with the ratio of the population density to the average population density for all countries.</li>
</ul>
</div>

In [20]:
countries['density_ratio'] = countries['population_density']/countries['population_density'].mean()
countries

,area,capital,population,population_density,density_ratio
country,,,,,
Belgium,30510,Brussels,11.3,370.370370,1.355755
France,671308,Paris,64.3,95.783158,0.350618
Germany,357050,Berlin,81.3,227.699202,0.833502
Netherlands,41526,Amsterdam,16.9,406.973944,1.489744
United Kingdom,244820,London,64.9,265.092721,0.970382

In [ ]:
# %load _solutions/pandas_03_selecting_data17.py

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>Change the capital of the UK to Cambridge</li>
</ul>
</div>

In [22]:
countries.loc["United Kingdom", "capital" ] = "Cambridge"
countries

,area,capital,population,population_density,density_ratio
country,,,,,
Belgium,30510,Brussels,11.3,370.370370,1.355755
France,671308,Paris,64.3,95.783158,0.350618
Germany,357050,Berlin,81.3,227.699202,0.833502
Netherlands,41526,Amsterdam,16.9,406.973944,1.489744
United Kingdom,244820,Cambridge,64.9,265.092721,0.970382

In [ ]:
# %load _solutions/pandas_03_selecting_data18.py

In [38]:
countries.loc[(countries['population_density'] < 300) & (countries['population_density'] > 100)]
# Make sure to add parentheses "()" around each boolean argument

,area,capital,population,population_density,density_ratio
country,,,,,
Germany,357050,Berlin,81.3,227.699202,0.833502
United Kingdom,244820,Cambridge,64.9,265.092721,0.970382

<div class="alert alert-success">
<b>EXERCISE</b>:

 <ul>
  <li>Select all countries whose population density is between 100 and 300 people/kmÂ²</li>
</ul>
</div>

In [39]:
# %load _solutions/pandas_03_selecting_data19.py

# Some other essential methods: `isin` and `string` methods

The `isin` method of Series is very useful to select rows that may contain certain values:

In [40]:
s = countries['capital']

In [41]:
s.isin?

In [42]:
s.isin(['Berlin', 'London'])

country
Belgium           False
France            False
Germany            True
Netherlands       False
United Kingdom    False
Name: capital, dtype: bool

This can then be used to filter the dataframe with boolean indexing:

In [43]:
countries[countries['capital'].isin(['Berlin', 'London'])]

           area capital  population  population_density  density_ratio
country
Germany  357050  Berlin        81.3          227.699202       0.833502

Let's say we want to select all data for which the capital starts with a 'B'. In Python, when having a string, we could use the `startswith` method:

In [44]:
string = 'Berlin'

In [45]:
string.startswith('B')

True

In pandas, these are available on a Series through the `str` namespace:

In [ ]:
countries['capital'].str.startswith('B')

For an overview of all string methods, see: http://pandas.pydata.org/pandas-docs/stable/api.html#string-handling

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>Select all countries that have capital names with more than 7 characters</li>
</ul>
    
</div>

In [50]:
countries['capital'][countries['capital'].str.len() > 7]

country
Belgium            Brussels
Netherlands       Amsterdam
United Kingdom    Cambridge
Name: capital, dtype: object

In [ ]:
# %load _solutions/pandas_03_selecting_data27.py

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>Select all countries that have capital names that contain the character sequence 'am'</li>
</ul>
</div>

In [52]:
countries['capital'][countries['capital'].str.contains("am")]

country
Netherlands       Amsterdam
United Kingdom    Cambridge
Name: capital, dtype: object

In [ ]:
# %load _solutions/pandas_03_selecting_data28.py

# Pitfall: chained indexing (and the 'SettingWithCopyWarning')

In [53]:
countries.loc['Belgium', 'capital'] = 'Ghent'

In [54]:
countries

,area,capital,population,population_density,density_ratio
country,,,,,
Belgium,30510,Ghent,11.3,370.370370,1.355755
France,671308,Paris,64.3,95.783158,0.350618
Germany,357050,Berlin,81.3,227.699202,0.833502
Netherlands,41526,Amsterdam,16.9,406.973944,1.489744
United Kingdom,244820,Cambridge,64.9,265.092721,0.970382

In [55]:
countries['capital']['Belgium'] = 'Antwerp'

C:\Users\rprops\Documents\Anaconda3\envs\DS-python-data-analysis\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [56]:
countries

,area,capital,population,population_density,density_ratio
country,,,,,
Belgium,30510,Antwerp,11.3,370.370370,1.355755
France,671308,Paris,64.3,95.783158,0.350618
Germany,357050,Berlin,81.3,227.699202,0.833502
Netherlands,41526,Amsterdam,16.9,406.973944,1.489744
United Kingdom,244820,Cambridge,64.9,265.092721,0.970382

In [57]:
countries[countries['capital'] == 'Antwerp']['capital'] = 'Brussels'

C:\Users\rprops\Documents\Anaconda3\envs\DS-python-data-analysis\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [58]:
countries

,area,capital,population,population_density,density_ratio
country,,,,,
Belgium,30510,Antwerp,11.3,370.370370,1.355755
France,671308,Paris,64.3,95.783158,0.350618
Germany,357050,Berlin,81.3,227.699202,0.833502
Netherlands,41526,Amsterdam,16.9,406.973944,1.489744
United Kingdom,244820,Cambridge,64.9,265.092721,0.970382

In [59]:
countries.loc[countries['capital'] == 'Antwerp', 'capital'] = 'Brussels' 
countries

,area,capital,population,population_density,density_ratio
country,,,,,
Belgium,30510,Brussels,11.3,370.370370,1.355755
France,671308,Paris,64.3,95.783158,0.350618
Germany,357050,Berlin,81.3,227.699202,0.833502
Netherlands,41526,Amsterdam,16.9,406.973944,1.489744
United Kingdom,244820,Cambridge,64.9,265.092721,0.970382

<div class="alert alert-info" style="font-size:120%">

<b>REMEMBER!</b><br><br>

What to do when encountering the *value is trying to be set on a copy of a slice from a DataFrame* error?

 <ul>
  <li>Use `loc` instead of chained indexing **if possible**!</li>
  <li>Or `copy` explicitly if you don't want to change the original data.</li>
</ul>

</div>

# Exercises using the Titanic dataset

In [60]:
df = pd.read_csv("../data/titanic.csv")

In [61]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>Select all rows for male passengers and calculate the mean age of those passengers. Do the same for the female passengers.</li>
</ul>
</div>

In [63]:
df.loc[df['Sex'] == "male", "Age"].mean()

30.726644591611478

In [64]:
df.loc[df['Sex'] == "female", "Age"].mean()

27.915708812260537

In [ ]:
# %load _solutions/pandas_03_selecting_data38.py

In [ ]:
# %load _solutions/pandas_03_selecting_data39.py

In [ ]:
# %load _solutions/pandas_03_selecting_data40.py

We will later see an easier way to calculate both averages at the same time with groupby.

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>How many passengers older than 70 were on the Titanic?</li>
</ul>
</div>

In [66]:
sum(df['Age'] > 70)

5

In [ ]:
# %load _solutions/pandas_03_selecting_data41.py

In [ ]:
# %load _solutions/pandas_03_selecting_data42.py

# [OPTIONAL] more exercises

For the quick ones among you, here are some more exercises with some larger dataframe with film data. These exercises are based on the [PyCon tutorial of Brandon Rhodes](https://github.com/brandon-rhodes/pycon-pandas-tutorial/) (so all credit to him!) and the datasets he prepared for that. You can download these data from here: [`titles.csv`](https://drive.google.com/open?id=0B3G70MlBnCgKajNMa1pfSzN6Q3M) and [`cast.csv`](https://drive.google.com/open?id=0B3G70MlBnCgKal9UYTJSR2ZhSW8) and put them in the `/data` folder.

In [67]:
cast = pd.read_csv('../data/cast.csv')
cast.head()

FileNotFoundError: File b'../data/cast.csv' does not exist

In [ ]:
titles = pd.read_csv('../data/titles.csv')
titles.head()

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>How many movies are listed in the titles dataframe?</li>
</ul>
    
</div>

In [ ]:
# %load _solutions/pandas_03_selecting_data45.py

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>What are the earliest two films listed in the titles dataframe?</li>
</ul>
</div>

In [ ]:
# %load _solutions/pandas_03_selecting_data46.py

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>How many movies have the title "Hamlet"?</li>
</ul>
</div>

In [ ]:
# %load _solutions/pandas_03_selecting_data47.py

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>List all of the "Treasure Island" movies from earliest to most recent.</li>
</ul>
</div>

In [ ]:
# %load _solutions/pandas_03_selecting_data48.py

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>How many movies were made from 1950 through 1959?</li>
</ul>
</div>

In [ ]:
# %load _solutions/pandas_03_selecting_data49.py

In [ ]:
# %load _solutions/pandas_03_selecting_data50.py

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>How many roles in the movie "Inception" are NOT ranked by an "n" value?</li>
</ul>
</div>

In [ ]:
# %load _solutions/pandas_03_selecting_data51.py

In [ ]:
# %load _solutions/pandas_03_selecting_data52.py

In [ ]:
# %load _solutions/pandas_03_selecting_data53.py

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>But how many roles in the movie "Inception" did receive an "n" value?</li>
</ul>
</div>

In [ ]:
# %load _solutions/pandas_03_selecting_data54.py

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>Display the cast of the "Titanic" (the most famous 1997 one) in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.</li>
</ul>
</div>

In [ ]:
# %load _solutions/pandas_03_selecting_data55.py

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>List the supporting roles (having n=2) played by Brad Pitt in the 1990s, in order by year.</li>
</ul>
</div>

In [ ]:
# %load _solutions/pandas_03_selecting_data56.py

# Acknowledgement


> The optional exercises are based on the [PyCon tutorial of Brandon Rhodes](https://github.com/brandon-rhodes/pycon-pandas-tutorial/) (so all credit to him!) and the datasets he prepared for that.

---